/* 2-1. 서브타이틀 
태그명+이름 방식의 선택자는 종속선택자 */
h2.sub-title {
  /* 글자체 font-family (ff) */
  font-family: "Hi Melody", sans-serif;
  /* 글자크기 font-size (fz) */
  font-size: 38px;
  /* 글자두께 font-weight (fw)
    두껍게 bold / 보통 normal(fwn) */
  font-weight: normal;
  /* 텍스트 중앙 정렬 tac */
  text-align: center;
  /* 배경색 bgc */
  /* background-color: #b1b40052; */
  /* ts */
  text-shadow: 3px 3px 3px #00000094;
  /* p20 */
  padding: 20px;
  /* brad */
  border-radius: 20px;
  /* ../는 상대경로로 이미지 폴더를 하나위로 올라가서 찾는다 */
  background: url(../images/titbg4.jpg) no-repeat center/cover;
  background-image: url(../images/titbg4_2.webp);
  background-attachment: fixed;
  color: #fff;

  /* 박스그림자 box-shadow (bsh, bxsh) */
  /* 
    box-shadow: (내부그림자 inset) X축 Y축 블러 확장 색; 
    콤마로 연결하면 글자 그림자든 박스그림자든 모두 다중 그림자 적용가능함!
    블러 뒤에 확장옵션에 px값을 주면 그림자가 더 커진다 박스 그림자에만 이 옵션이 있음
  */
  box-shadow:
  /* 내부 그림자 */ inset 0 0 10px 5px #00000075,
    /* 바깥쪽 그림자 */ 0 0 20px 3px blue;
}

/* 
    [ CSS 적용우선순위 ]
    0 속성값 안에 !important 라고 쓰면 가장 최우선 적용
    1 인라인 셋팅 : 태그안에 style 속성셋팅
    2 종속 선택 요소 : 태그명#아이디명 / 태그명. 클래스명
    3 아이디 요소 : #이름
    4 클래스 요소 : .이름
    5 요소명 : 태그명 
*/

/* 페이지별 타이틀 박스 디자인 변경 */
/* 정치뉴스 */
h2.politics {
  background-image: url(../images/titbg1_2.jpg);
  box-shadow:
  /* 내부 그림자 */ inset 0 0 10px 5px #00000075,
    /* 바깥쪽 그림자 */ 0 0 20px 3px orange;
}
/* 경제뉴스 */
h2.economics {
  background-image: url(../images/titbg2_2.jpg);
  box-shadow:
  /* 내부 그림자 */ inset 0 0 10px 5px #00000075,
    /* 바깥쪽 그림자 */ 0 0 20px 3px green;
}
/* 사회뉴스 */
h2.social {
  background-image: url(../images/titbg3_2.jpg);
  box-shadow:
  /* 내부 그림자 */ inset 0 0 10px 5px #00000075,
    /* 바깥쪽 그림자 */ 0 0 20px 3px yellow;
}
/* TV/연예뉴스 */
h2.tv {
  background-image: url(../images/titbg5.jpg);
  box-shadow:
  /* 내부 그림자 */ inset 0 0 10px 5px #00000075,
    /* 바깥쪽 그림자 */ 0 0 20px 3px red;
}

/*
[ 선택자의 종류 ]
1) 타입선택자: 요소명 
    예) h1{}. div{}
2) 자손선택자: 띄어쓰기 
    예) h1 a{}, div span{}
3) 아이디선택자: # 
    예) #my{}, #we{}
4) 클래스선택자: . 
    예) .home{}, .kite{}
5) 직계자식선택자: > 
    예) #my > div
6) 그룹선택자: , 
    예) html, body, h1{}
7) 종속선택자: 태그명+아이디/클래스선택자
    예) h1#logo{}, main.cont{}
8) 속성선택자: []
    예) [target=_blank], a[href="index.html"]
9) 형제선택자: + 
    예) li+li , tr+tr 앞에 다른형제가 있는 요소를 선택함
10) 다중형제선택자: ~
    예) li:nth-child(4)~li -> 4번째 li이후 모든 형제선택 
*/

/* 2-2. 언론사로고 */
.press-logo img {
  /* 이미지 높이값 고정 (가로 크기는 자동) */
  height: 32px;
}
/* 2-3. 기사제목 */
.article-title {
  font-size: 30px;
  color: #222;
}
/* 2-4. 기사사진 */
.article-picture {
  margin: 0 auto;
}
/* 기사이미지 */
.article-picture img {
  width: 100%;
}
/* 이미지 설명 
figcaption 는 블럭요소이다! */
.article-picture figcaption {
  text-align: center; /* tac */
}
/* 하위요소에 지정된 속성은 그 요소에서 재정의 해야 적용됨! 
예컨데 글자크기가 이미 small 태그에 적용되어 있어서 small 재정의 해야함 */
.article-picture figcaption small {
  font-size: 15px; /* fz15 */
}
/* 2-5. 기사내용 */
.contents p {
  /* 기본마진 없애고 아래 마진만 줌 */
  margin: 0;
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 2.1;

  /* 
  [ 줄간격 : line-height ]
   - 박스요소의 글자의 간격 높이를 지정하는 속성
   - 글자는 높이값의 세로 정중앙에 위치함
   - 단위를 사용하면 특정크기로 지정됨
   - 단위없는 숫자로 표현하면 글자크기의 배수로 상대적 크기가 적용됨
   - 젠코딩시 숫자만쓰면 배수로 표현되므로 주의 요망! ex) lh20 -> line-height: 20px; 
   */
  color: #303830;
}
.contents p strong {
  color: darkmagenta;
}
.contents p em {
  color: lightgreen;
  text-shadow: 2px 2px 2px #0000007a; /* ts */
  text-decoration: overline; /* tdo */
  text-decoration: underline wavy; /* tdu */
  /* text-decoration: 유형 (스타일) 
  스타일이 있을 경우 뒤에 띄어쓰기로 쓸 수 있음 */
}
/* 공통 보더박스 디자인: .bd-box */
.bd-box {
  border-top: 2px dashed gray; /* bt */
  border-bottom: 2px dashed gray; /* bdb */
  margin: 20px 0; /* m */
  padding: 15px; /* p15 */
}
.bd-box h4 {
  /* 가로크기 내용만큼 설정위해 display변경!
  inline (패딩 디자인이 실제 공간을 차지하지 않음)
  line-block (블록처럼 디자인적용되는 인라인요소)
  */
  display: inline-block; /* dib */

  /* di */
  /* display: inline;  */
  padding: 15px; /* p */
  background-color: #e6e6e6; /* bc */
  border-radius: 15px; /* brad */
  box-shadow: inset 0 0 10px #7b7b7b; /* bxsh */
}

/* 2-5.5. 인용블록영역 */
/* 인용구 박스 : blockquote */
.quote-box blockquote {
  margin: 0; /* m */
  font-size: 20px; /* fz */
  line-height: 1.8; /* lh */
  /* 글자 양쪽정렬 */
  text-align: justify; /* taj */
  /* 글자 양쪽 정렬시 단어 깨기 */
  word-break: break-all;
  /* 글자 첫줄 들여쓰기 ti -> text-indent: */
  text-indent: 10px; /* ti */
}
/* 이미지 오른쪽으로 보내고 옆에 글자 흘러가기 */
.quote-box blockquote img {
  /* 나는 오른쪽에 있고(글자는 왼쪽에 흘러감) */
  float: right; /* flr */
  /* 
  기본적으로 이미지는 인라인요소이며 글자가 왼쪽으로 한줄 하단에 나열됨!
  글자가 옆에 올라와서 흘러가게 하려면 float속성을 사용해야 한다!
  float:left 이미지는 왼쪽에 글자는 오른쪽에 
  float:right 이미지는 오른쪽에 글자는 왼쪽에 
  */
  /* ta */
  margin-left: 15px; /* ml15 */
  /* margin-top: 10px; 아래쪽에 영향으로 주석! */
  border-radius: 10px; /* brs10 */
}
/* 2-6. 기자정보 */
.reporter {
  /* 글자크기 : fz */
  font-size: 20px; /* fz20 */
  /* 위아래 패딩 : p15 */
  padding: 15px 0; /* 값 세개만 쓰면 위, 양쪽, 아래 */
}
/* 2-7. 기사원문 */
.article-link {
  /* 텍스트 오른쪽 정렬 */
  text-align: right;
}
/* 자식요소 a는 인라인이므로 크기 적용안됨
따라서 디자인 적용되는 인라인 요소인 inline-block을 사용한다! */
.article-link a {
  display: inline-block; /* dib */
  width: 100px;
  height: 100px;
  /* 가로중앙정렬 tac */
  text-align: center;
  /* 세로중앙정렬 vam (옆에오는 애들 영향받음 여기서 적용 안됨) */
  /* vertical-align: middle; */
  /* 인라인 요소간 세로정렬 가능 
  -> 세로중앙정렬은 table-cell 디스플레이에서만 적용됨! 
  여기서는 line-height를 높이값과 같이 줌! */
  line-height: 100px;

  /* 밑줄없앰 tdn */
  text-decoration: none;

  border-radius: 50%;
  background-color: lightcyan; /* bgc */
  color: darkcyan; /* c */
  font-size: 20px; /* fz */
  font-weight: bold; /* fwb */
  border: 2px solid darkcyan;
}
/* 
기사원문 오버시 변경
:hover는 마우스 오버시 가상클래스임!
선택요소에 붙여서 사용함!
가상클래스란 마치 클래스를 준것 같다는 의미 
*/
.article-link a:hover {
  /* 배경색 변경 : bgc */
  background-color: yellow;
  /* 글자색 변경 : c */
  color: red;
  /* 박스그림자 : bxsh */
  box-shadow: 0 0 5px 1px darkred;
  /* box-shadow: x축 y축 블러 확대 색 */
}
/* 주해영역 */

/* 오늘의 작품 & 느낌 */
.work {
  /* 전체정렬중앙 : tac */
  text-align: center;
  /* 박스 그림자 
      box-shadow: x축 y축 blur spread 색
      1.x축 - 가로축 이동
      2.y축 - 세로축 이동
      3.blur - 경계선 흐림
      4.spread - 그림자 기존크기 보다 더한크기
      5.색 - 그림자 색
      ->> 내부 그림자일 경우 inset 키워드를 앞에씀
      box-shadow: inset x축 y축 blur spread 색
      ->> spread는 필요시에 작성함
  */
  /* bxsh */
  box-shadow: inset 0 0 10px 10px #00000046;
  /* bgl */
  background: linear-gradient(-45deg, #fa8181 40%, #f0ee80, #b7f37f);
}
/* 그라데이션 
        [ 선형 그라데이션 : linear-gradient ]
        linear-gradient(방향,색1,색2,...);
        linear-gradient(방향,색1 몇%,색2 몇%,...);
        linear-gradient(각도,색1 몇%,색2 몇%,...);
        - 옵션 : 
        1. 방향: to top, to bottom, to left, to right
        2. 각도: 각도deg
        3. 콤마로 나열된 색상 뒤에 %수치를 쓰면 비율조정가능
    */
.work h4 {
  font-family: "Do Hyeon", sans-serif;
  font-size: 30px;
  color: #333;
  font-weight: bold;
  margin: 0;
  padding-top:30px;
}
.work figure {
  /* 기본 마진 없앰 */
  margin: 0;
  padding: 15px 0;
}
/* 작품 이미지 */
.work img {
  border: 15px ridge khaki;
}
/* 이미지 설명 */
.work figcaption {
  /* 글자관련설정 */
  font-size: 20px;
  font-family: 'Hi Melody', sans-serif;
  font-weight: bold;
  color: #333;
}
/* 작품명만 따로 디자인 */
/* cite는 작품명요소(시멘틱 구조화다!)  */
.work figcaption cite {
  color: darkorchid;
  /* 기본 이태릭체 해제 fsn */
  font-style: normal;
}

/* 뉴스파트 공통 클래스: .news-box */
.news-box {
  /* 상단보더넣기 : bdt */
  border-top: 2px dashed #ccc;
  /* 상단마진 : m */
  margin: 20px 0;
  padding: 20px 0;
}
/* 뉴스 타이틀 공통 */
.news-box h3 {
  font-family: "Do Hyeon", sans-serif; /* ff */
  font-weight: normal; /* fwn */
  font-size: 30px; /* fz30 */
  background: linear-gradient(to right, #ddd, transparent);
  padding: 10px;
}
/* 뉴스파트 공통a요소 */
.news-box a {
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  color: #222;
  text-decoration: none;

  /* [한줄 말줄임 세팅하기] */
  /* 줄바꿈 방지 */
  white-space: nowrap; /* wh */
  /* 넘치는 요소 숨기기 (전제조건inline아닐것!) */
  overflow: hidden; /* oh */
  /* a요소는 인라인요소이므로 overflow가 안먹힘 */
  display: block; /* db */
  /* 넘치는 글자 말줄임 표시 */
  text-overflow: ellipsis; /* tov */
}
/* 공통 a요소 오버시 가상클래스 (:hover) */
.news-box a:hover {
  color: #996699;
  text-shadow: 1px 1px 1px #aaa;
}
/* 뉴스파트 공통 초기화하기
ul, ol은 기본마진, 패딩, 블릿, 번호 등 초기화 필요함 */
.news-box ul, .news-box ol {
  margin: 0; /* m0 */
  padding: 0; /* p0 */
  list-style: none; /* lin */
}
/* ol은 숫자값 살리기 */
.news-box ol {
  /* 숫자표시 기본값 살리기 */
  list-style: decimal; /* lide */
  padding-left: 20px; /* pl20 */

}
/* dl, dd는 기본마진있음 */
.news-box dl, .news-box dl dd {
  margin: 0;
}
/* 
가상요소로 아이콘 넣기 이미지같은 요소를 css에서 
가상으로 넣을 수 있음(가상은 실제 태그요소 아님)
앞에 넣는 가상요소는 ::before
뒤에 넣는 가상요소는 ::after
(기본필수속성은 content 속성) 
[ CSS의 가상요소 : before, after ]
  - 모든 요소는 맨앞과 맨뒤에 가상요소를 사용할 수 있다!
  - 가상요소 표기법은 요소명 뒤에 콜론2개를 겹쳐씀(::)
  - 맨앞은 before, 맨뒤는 after
  - 필수속성 : content
  - 이미지는 content 속성값으로 url() 사용!
*/
.main-news a::before { /* 맨앞 */
  /* 가상요소 필수속성 content : (ct) */
  content: '😎'; /* ct */
  margin-right: 5px;
  font-size: 20px;  
}
.main-news a::after { /* 맨뒤 */
  /* content: url(https://w7.pngwing.com/pngs/634/843/png-transparent-check-in-box-mark-ui-interface-icon.png); */
  /* url을 사용하면 이미지를 넣을 수 있으나 크기 조정 안됨 */
}
/* 주요뉴스의 li 순서에서 개별 선택하기!
글자색 변경하기!
[ 같은 종류의 형제요소 선택법 ]
 :first-child
 :last-child
 :nth-child(n) */
.main-news li:first-child a {
  color: #996699;
}
.main-news li:nth-child(2) a::before {
  content: '😤';
}
.main-news li:last-child a::before {
  content: '😱';
}
/* 분야별 뉴스 */
.sec-news dt {
  font-family: 'Hi Melody', sans-serif;
  font-size: 30px;
  border: 2px dashed #669966;
  border-radius: 50%; /* brs */
  /* ★내용만큼 가로크기 되도록
  display 변경 inline-block */
  display: inline-block; /* dib */
  padding: 10px;
}

/* dt 따로 순서별 디자인 설정 */
.sec-news dt:first-of-type{
  background-color: #eee;
  border-color: #996699;
}
.sec-news dt:nth-of-type(2){
  background-color: #66996633;
}
.sec-news dt:last-of-type{ 
  color: white;
  background-color: #996699;
  border-color: #ccc;
}
/* 두번째 dt부터 마진탑 주기 
dt앞에 dd가 있는 모든 dt를 선택함!
형제선택자 :dd+dt */
.sec-news dd+dt{
  margin-top: 24px;
}
/* [여러종류의 태그에서 순서별 선택법]
:first-of-type 같은 종류중 첫번째요소
:last-of-type 같은 종류중 마지막요소
:nth-of-type(n) 같은 종류중 n번째요소
(가상클래스)
*/
/* 사진뉴스 */
.photo-news table{
  /* 최대가로크기 maw
  최대크기보다 작아지면 auto로 전환됨 */
  max-width: 500px; /* maw */
  /* 테이블 기본간격 없앰! 
  separate가 기본값임(사이간격있음) */
  border-collapse: collapse;
  /* 테두리 */
  border: 1px solid #ccc;
  /* 중앙정렬 */
  margin: 0 auto;
}
.photo-news td:first-child {
  /* 가로크기 w */
  width: 50px;
  /* 세로크기 h */
  height: 84px;
  /* 글자 중앙 tac */
  text-align: center;
  /* 배경색 bgc */
  background-color: #ddd;
}
.photo-news td:nth-child(2){
  background-color: #fefefe;
  padding: 0 20px;
}
.photo-news td:last-child {
  background-color: #fefefe;
}
.photo-news a {
  /* 줄바꿈방지 설정 해제 whn
  -> 기본줄바꿈으로 바꿈 */
  white-space: normal;
  line-height: 1.2;
}
.photo-news img {
  width: 100px;
  height: 70px;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  margin-right: 10px;
}
/* 사이구분선 넣기 :두번째 tr부터 */
.photo-news tr+tr td {
  border-top: 1px dashed #ccc;
}
/* 비디오박스 */
.mv-box iframe {
  width: 100%;
  height: 392px;
}
/* mark마크태그 디자인 변경 */
.contents mark {
  display: block;
  width: 90%;
  margin: 20px auto;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  font-family: 'Hi Melody';
  font-weight: bold;
  color: #333;
  line-height: 1.6;
  background-color: #99669947;
}
/* .contents em {
  font-style: normal;
  color: darkmagenta;
  font-weight: bold;
  text-shadow: 2px 2px 2px #0b88db;
} */
 .contents strong {
  font-style: normal;
  color: darkmagenta;
  font-weight: bold;
  text-shadow: 2px 2px 2px #0b88db;
 }