@charset "utf-8";

/* 심슨 가족 애니메이션 코드 : simpson_ani.css */
.simpson {
    /* animation: 이름 시간 이징 지연 반복 방향 마지막; */
    animation: simpson-ani 4s ease-in-out 2s alternate forwards;
    /* 
    ((반복)) 
    반복횟수 없으면 1번만, 숫자만큼 반복, 영원히는 infinite
    ((방향))
    alternate 번갈아 설정시 왔다갔다함(회수가 많아야함)
    ((마지막상태)
    처음상태가 backwards(기본값) / 나중상태가 forwards
    - 마지막장면 상태유지 하려고 할때 forwards 사용
    - 회수가 무한이면 안됨
    */

}
/* 심슨 키프레임 */
@keyframes simpson-ani {
    0% {
        top: 65%;
        left: 43.7%;
        width: 5%;
    }
    10% {
        top: 63%;
        left: 39%;
        width: 10%;
    }
    /* 2. 걸어서 앞으로 나옴
    z-index위로 설정, rotate설정 */
    20% {
        top: 60%;
        left: 40%;
        width: 15%;
        rotate: -5deg;
        z-index: 1;
    }
    30% {
        top: 58%;
        left: 43.7%;
        width: 20%;
        rotate: 5deg;
        z-index: 1;
    }
    40% {
        top: 55%;
        left: 43.7%;
        width: 25%;
        rotate: -5deg;
        z-index: 1;
    }
    50% {
        top: 45%;
        left: 43.7%;
        width: 30%;
        rotate: 5deg;
        z-index: 1;
    }
    60% {
        top: 35%;
        left: 43.7%;
        width: 35%;
        rotate: -5deg;
        z-index: 1;
    }
    70% {
        top: 25%;
        left: 33.7%;
        width: 40%;
        rotate: 5deg;
        z-index: 1;
    }
    80% {
        top: 22%;
        left: 30%;
        width: 45%;
        rotate: -5deg;
        z-index: 1;
    }
    90% {
        top: 18%;
        left: 33.7%;
        width: 50%;
        rotate: 5deg;
        z-index: 1;
    }
    100% {
        top: 28%;
        left: 35%;
        width: 50%;
        rotate: 0deg;
        z-index: 1;
    }
    
}
/* 키프레임 */
.door {
    /* animation: 이시이지반방마; */
    animation: door-ani 2s ease-in-out 1s forwards;
}
/* 문열기 키프레임 
닫음-열림-열림-닫음 */  
@keyframes door-ani {
    /* form{}
    to{} */
    0%{
        rotate: y 0deg; 
    }
    30%{
        rotate: y 125deg;
    }
}
/* 키프레임 */
/* 말풍선 */
.words{
    animation: tooltip-ani 1s 6s forwards;

}
/* 말풍선 키프레임 */
@keyframes tooltip-ani {
    to {
        opacity: 1;
        
    }

}
/* 키프레임 */
/* 마지 */
.marge {
    animation: marge-ani 1s 6s forwards;
}
/* 마지키프레임 */
@keyframes marge-ani {
    to {
        opacity: 1;
        rotate: -20deg;
        right: -30%;
    }
}
/* 키프레임 */
/* 리사 */
.lisa {
    animation: lisa-ani 1s 7s forwards;
}
/* 리사 키프레임 */
@keyframes lisa-ani {
    to {
        opacity: 1;
        left: -5%;
    }
}

/* 키프레임 */
/* 메기 */
/* 다중애니적용은 (이시이지반방마)를 콤마로 연결하여 적용한다! */
.maggie {
    animation:
    /* 등장애니 */
    maggie-ani 1s 8s forwards,
    /* 업다운애니 - alternate는 번강아 양방향 애니셋팅 */
    maggie-updown-ani .5s ease-in-out 9s infinite alternate,
    /* 왔다갔다애니 */
    maggie-comengo-ani 10s ease-in-out 12s infinite alternate;
}
/* 메기 키프레임 */
@keyframes maggie-ani {
    to {
        opacity: 1;
        bottom: -15%;
    }    
}
/* 키프레임 */

/* 메기 업다운 키프레임 */
@keyframes maggie-updown-ani{
    to{
        bottom: -20%;
    }
}
/* 키프레임 */

/* 메기 왔다갔다 키프레임 */
@keyframes maggie-comengo-ani{
    0%{
        left: 12%;
    }
    50%{
        left: 8%;
    }
    100%{
        left: 64%;
    }

}
/* 키프레임 */
.bart {
    animation: bart-ani 1s 6.5s forwards,
    bart-down-ani 2s 8s forwards,
    bart-up-ani 1s 10s forwards;
}
/* 바트 키프레임 */
@keyframes bart-ani {
    to {
        opacity: 1;
        top: -30%;
        right: 28%;
    }

}
/* 키프레임 */

/* 바트 추락 키프레임 */
@keyframes bart-down-ani {
    to {
        top: 100%;
        rotate: 180deg;
    }

}
/* 키프레임 */

/* 바트 일어섬 키프레임 */
@keyframes bart-up-ani {
    to{
        top: 50%;
        left: 20%;
        z-index: 1;
    }
}
/* 키프레임 */
